---
import Layout from "../layouts/Layout.astro";
import { icons } from "../icons/icons.astro";
const {
  LinkedinIcon,
  GithubIcon,
  EmailIcon,
  BriefcaseIcon,
  CodeIcon,
  UserIcon,
  CVIcon,
} = icons;

import SocialPhil from "../components/SocialPhil.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SectionProjects from "../components/SectionProjects.astro";
import Description from "../components/Description.astro";
import Experience from "../components/Experience.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
---

<Layout
  title="Porfolio de Abel - Jr. Full-Stack Developer"
  description="Desarrollador Web Junior tras un cambio de sector. Especialista en crear aplicaciones únicas"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-24">
      <Description />

      <img
        class="py-4"
        src="https://skillicons.dev/icons?i=html,css,js,react,sass,tailwind,vite,nodejs,express,mongodb,mysql,jest,astro"
        alt="tools-icons"
      />

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPhil href="http://www.linkedin.com/in/abelprietomartin">
          <LinkedinIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPhil>

        <SocialPhil href="http://www.github.com/abelpriem">
          <GithubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPhil>

        <SocialPhil href="mailto:abelpriem94@hotmail.com">
          <EmailIcon class="size-4 md:size-6" />
          abelpriem94@hotmail.com
        </SocialPhil>

        <SocialPhil
          href="https://drive.google.com/file/d/1TRf7HRM7pM7FNBMQJoClNChsJ2VRhRDU/view?usp=sharing"
        >
          <CVIcon class="size-4 md:size-6" />
          CV
        </SocialPhil>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-2 items-center text-black dark:text-white"
      >
        <BriefcaseIcon class="size-8" />Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionProjects id="proyectos" class="mb-12">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-2 items-cente text-black dark:text-white"
      >
        <CodeIcon class="size-8" />Proyectos
      </h2>
      <Projects />
    </SectionProjects>

    <SectionContainer id="sobre-mi">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-2 items-center text-black dark:text-white"
      >
        <UserIcon class="size-8" />Sobre mi
      </h2>
      <About />
    </SectionContainer>
  </main></Layout
>
