---

---

<article class="flex flex-col justify-center items-center gap-8 md:flex-row">
  <div>
    <p class="text-lg mb-4 tex-pretty">
      Mi nombre es Abel y tras <span class="text-yellow-200/90"
        >siete años como Responsable de Calidad</span
      >, decidí dar un giro de 180 grados a mi carrera profesional para seguir
      mi verdadera pasión: <span class="text-yellow-200/90"
        >la programación.</span
      >
    </p>
    <p class="text-lg mb-4 tex-pretty">
      Gracias a mi dedicación <span class="text-yellow-200/90">autodidacta</span
      >, mi experiencia profesional y a la formación recibida en la
      <span class="text-red-200/90">Escuela Digital ISDI CODERS</span>, he
      adquirido la formación necesaria para convertirme en el profesional que
      siempre he aspirado ser.
    </p>
    <p class="text-lg mb-4 tex-pretty">
      Aunque siento predilección por el <span class="text-yellow-200/90"
        >Back-End</span
      >, su lógica y su funcionamiento, busco siempre ampliar mis conocimientos
      y aplicarlos en proyectos prácticos, con el objetivo de seguir creciendo y
      <span class="text-yellow-200/90"
        >poder aportar soluciones innovadoras en el campo de la tecnología y el
        desarrollo de software.</span
      >
    </p>
  </div>

  <img
    width="200"
    height="200"
    src={"/others/profile.webp"}
    alt="Foto de perfil"
    class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20"
    style="object-position: 25% 25%"
  />
</article>
