---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Marzo 2023 - Actual",
    title: "Desarrollador Full-Stack en ISDI CODERS",
    description:
      "Desarrollo de aplicaciones web completas aplicando tecnologías como React, NodeJS o Express, desde el montaje de elaboradas lógicas y un riguroso testeo de APIs hasta la creación de interfaces de usuarios y componentes, siempre trabajando con buenas prácticas y metodologías ágiles",
    link: "https://open.spotify.com/episode/4M1JIvqHO9WF3HXysigDqs?si=a890104bcf2b4da2&nd=1&dlsi=38043a4ec9ce4720",
  },
  {
    date: "Julio 2017 - 7 años",
    title: "Responsable de Calidad y Medio Ambiente en Grupo Renault",
    description:
      "Desde la realización y gestión, tanto de documentación como de los distintos procesos de control hasta el seguimiento de KPIs y gestión de equipos, siempre trabajando desde la mejora continua para lograr la consecución de los objetivos establecidos",
  },
];
---

<ol class="relative border-s border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
