---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Marzo 2025 - Actual",
    title: "Sporte TIC & Desarrollador en Iberaval",
    description:
      "Soporte TIC en la Sede Central de Valladolid y para toda España así como realización de mantenimiento y desarrollo de sus distintas aplicaciones con NodeJS y JavaScript. Control de incidencias y bases de datos.",
  },
  {
    date: "Julio 2017 - Junio 2024",
    title: "Responsable de Calidad y Medio Ambiente en Grupo Renault",
    description:
      "Desde la realización y gestión, tanto de documentación como de los distintos procesos de control hasta el seguimiento de KPIs, gestión de equipos y auditorías, siempre trabajando desde la mejora continua para lograr la consecución de los objetivos establecidos.",
  },
];
---

<ol class="relative border-s border-black dark:border-gray-200 ml-4">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
